<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rexen.rest.mapper.SysOperationParamMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rexen.rest.model.entity.SysOperationParam">
        <id column="id" property="id" />
        <result column="log_id" property="logId" />
        <result column="request_param" property="requestParam" />
        <result column="response_param" property="responseParam" />
    </resultMap>

</mapper>
